h1 Nytt inlägg
form action="posts" method="POST" 
    input type="text" name="creator" placeholder="Användarnamn"
    input type="text" name="title" placeholder="Titel"
    input type="text" name="content" placeholder="Innehåll"
    input type="submit" value="posta nytt inlägg"/